* {
  padding: 0;
  margin: 0;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

#navbar a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 70px;
  margin-top: 30px;
  font-weight: bolder;
  font-size: large;

}

#navbar li {
  float: left;
}

#logo {
  float: left;
  margin-top: 2px;
  margin-right: 300px;
  width: 200px;
  margin-left: 50px;
}

#main-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;

}

#textpic {
  position: relative;
  height: 100vh;
  background-image: url(/photo/main.jpg);
}

.text {
  position: absolute;
  top: 25%;
  bottom: 75%;
  color: white;
  width: 500px;
  padding: 10px;
  text-align: center;
  margin-left: 550px;

  font-size: 30px;
}